<link href='http://fonts.googleapis.com/css?family=Iceland' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

<style>
  body
  {
    background-image:url("https://s3-ap-northeast-1.amazonaws.com/vindle/vindle-bg.jpeg");
    background-repeat:repeat-y;
  }

  .logo {
     #font-family: 'Iceland', cursive;
     font-family: 'Prosto One', cursive;
     font-size: 48px;
  }
  .yammer-button {
    background-color: #2975d9;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow:   1px 1px 10px #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 80px;
    margin-left: -185px;
    outline: medium none;
    text-decoration: none;
    border: none;
    width: auto;
    #margin: 30px;
    position: absolute;
    font-family: 'Varela', sans-serif;
    text-align: center;
  }

  .yammer-button:hover {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .screen { 
  #visibility:hidden;
  background-color: rgba(0, 0, 0, 0.1);
  #display: inline;
  position: absolute;
  #margin-left: 43%; 
  #background: #E6F8E0;
  #margin-top: 3%;
  #padding: 30px;
  width: 100%;
  height:103%;
}

  .whatIs { 
  #visibility:hidden;
  font-family: 'Varela', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline;
  position: fixed;
  margin-left: 35%; 
  #background: #E6F8E0;
  margin-top: 15%;
  padding: 30px;
  width: 55%;
  height:40%;
  color: #ffffff;
  text-align: center;
}

.dot{
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    background:red;
    border-radius:50%;
}
.sun{
    width:200px;
    height:200px;
    position:absolute;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:5s;
    top:50px;
    left:50px;
}

@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) } 
}

</style>

<div class="whatIs">
  <h3>Don't miss awesome videos. Vindle it ! </h3><br><br>
  <span class="logo">Vindle = Video Bundles</span><br>
  
  <a href="/auth/yammer/" class="yammer-button"> Check it out using Yammer !</a>
</div>

